CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_SPIRAM_MEMTEST=

CONFIG_COMPILER_OPTIMIZATION_PERFORMANCE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
PTHREAD_DEFAULT_CORE_NO_AFFINITY=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MiB.csv"
CONFIG_ESP_INT_WDT_TIMEOUT_MS=1200

