# SPIRAM increases the size of the firmware, use -Os to reduce it again to fit in iram
CONFIG_COMPILER_OPTIMIZATION_PERFORMANCE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
PTHREAD_DEFAULT_CORE_NO_AFFINITY=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB.csv"
CONFIG_ESP_INT_WDT_TIMEOUT_MS=1200

